AI Project.json
{
  "name": "AI Project",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ข้อมูลผู้เช่า (TenantData)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=0"
        },
        "options": {}
      },
      "id": "d887ebf6-c3c6-48f7-92dc-bd626b5e1cfa",
      "name": "Read TenantData Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        2480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\n\nfunction parseThaiDate(dateStr){\n  if(!dateStr) return null;\n  const [day,month,year] = dateStr.split(\"/\");\n  return new Date(`${year}-${month}-${day}`);\n}\n\nreturn items.map(item => {\n\n  const dueDate = parseThaiDate(item.json[\"วันครบกำหนดชำระ\"]);\n  const contractEnd = parseThaiDate(item.json[\"วันหมดสัญญา\"]);\n\n  const daysUntilDue = Math.ceil((dueDate - today) / (1000*60*60*24));\n  const daysOverdue = daysUntilDue < 0 ? Math.abs(daysUntilDue) : 0;\n  const contractDaysRemaining = Math.ceil((contractEnd - today) / (1000*60*60*24));\n\n  let riskLevel = \"ต่ำ\";\n  if (daysOverdue > 7) riskLevel = \"สูง\";\n  else if (daysOverdue > 0) riskLevel = \"กลาง\";\n\n  return {\n    json: {\n      ...item.json,\n      daysUntilDue,\n      daysOverdue,\n      contractDaysRemaining,\n      riskLevel\n    }\n  };\n});"
      },
      "id": "61eab973-0bb2-418c-bacb-8b60dc2d7996",
      "name": "Calculate Risk Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        2592
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let message = \"\";\n\n  const daysUntilDue = item.json.daysUntilDue ?? 0;\n  const daysOverdue = item.json.daysOverdue ?? 0;\n\n  if (daysUntilDue > 0) {\n    message = `📢 แจ้งเตือนค่าเช่า\n\nห้อง: ${item.json[\"ห้อง\"]}\nผู้เช่า: ${item.json[\"ชื่อผู้เช่า\"]}\nค่าเช่า: ${item.json[\"ค่าเช่ารายเดือน\"]}\n\nจะครบกำหนดใน ${daysUntilDue} วัน\nกรุณาชำระก่อนกำหนด`;\n  } \n  else if (daysOverdue > 0 && daysOverdue <= 3) {\n    message = `⏰ แจ้งเตือน\n\nค่าเช่าห้อง ${item.json[\"ห้อง\"]} เกินกำหนด ${daysOverdue} วัน\nกรุณาชำระโดยเร็ว`;\n  } \n  else if (daysOverdue > 3) {\n    message = `⚠️ แจ้งเตือนด่วน\n\nห้อง ${item.json[\"ห้อง\"]} ค้างชำระ ${daysOverdue} วัน\nกรุณาติดต่อผู้ดูแลทันที`;\n  } \n  else {\n    message = `📌 แจ้งเตือนค่าเช่าห้อง\n\nห้อง: ${item.json[\"ห้อง\"]}\nผู้เช่า: ${item.json[\"ชื่อผู้เช่า\"]}\n\nโปรดตรวจสอบสถานะการชำระเงิน`;\n  }\n\n  return {\n    json: {\n      ...item.json,\n      reminderMessage: message\n    }\n  };\n});"
      },
      "id": "b50d0625-de9c-4211-ab99-a9ae9dc49aae",
      "name": "Generate Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        2720
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['อีเมล'] }}",
        "subject": "=ระบบแจ้งค่าเช่าห้อง {{ $json['ห้อง'] }}",
        "message": "=<div style=\"max-width:560px;margin:auto;font-family:'Segoe UI',Arial;background:#ffffff;border-radius:12px;border:1px solid #e6e6e6;padding:30px\">\n\n<!-- LOGO -->\n<div style=\"text-align:center;margin-bottom:15px\">\n<img src=\"https://cdn-icons-png.flaticon.com/512/235/235861.png\" width=\"60\">\n<h2 style=\"margin:10px 0;color:#1f6feb\">Smart Rental System</h2>\n<p style=\"color:#777;font-size:13px;margin-top:-5px\">\nระบบแจ้งค่าเช่าอัตโนมัติ\n</p>\n</div>\n\n<hr>\n\n<h3 style=\"color:#333\">🧾 ใบแจ้งค่าเช่าประจำเดือน</h3>\n\n<table style=\"width:100%;font-size:14px;margin-top:10px\">\n\n<tr>\n<td><b>ห้อง</b></td>\n<td>{{$json[\"ห้อง\"]}}</td>\n</tr>\n\n<tr>\n<td><b>ชื่อผู้เช่า</b></td>\n<td>{{$json[\"ชื่อผู้เช่า\"]}}</td>\n</tr>\n\n<tr>\n<td><b>อีเมล</b></td>\n<td>{{$json[\"อีเมล\"]}}</td>\n</tr>\n\n</table>\n\n<hr style=\"margin:20px 0\">\n\n<h3>💰 รายการค่าใช้จ่าย</h3>\n\n<table style=\"width:100%;border-collapse:collapse;font-size:15px\">\n\n<tr style=\"background:#f5f7fa\">\n<th style=\"text-align:left;padding:10px\">รายการ</th>\n<th style=\"text-align:right;padding:10px\">จำนวนเงิน</th>\n</tr>\n\n<tr>\n<td style=\"padding:10px\">ค่าเช่าห้อง</td>\n<td style=\"text-align:right;padding:10px\">{{$json[\"ค่าเช่ารายเดือน\"]}} บาท</td>\n</tr>\n\n<tr style=\"border-top:2px solid #ddd;font-size:18px;font-weight:bold\">\n\n<td style=\"padding:10px\">รวมทั้งหมด</td>\n\n<td style=\"text-align:right;padding:10px;color:#e63946\">\n{{$json[\"ค่าเช่ารายเดือน\"]}} บาท\n</td>\n\n</tr>\n\n</table>\n\n<hr style=\"margin:20px 0\">\n\n<h3>📅 การชำระเงิน</h3>\n\n<p><b>กำหนดชำระ:</b> {{$json[\"วันครบกำหนดชำระ\"]}}</p>\n\n<div style=\"text-align:center;margin-top:20px\">\n\n<img src=\"https://api.qrserver.com/v1/create-qr-code/?size=160x160&data=promptpay\" />\n\n<p style=\"font-size:12px;color:#777;margin-top:8px\">\nสแกน QR เพื่อชำระเงินผ่าน Mobile Banking\n</p>\n\n</div>\n\n<div style=\"text-align:center;margin-top:15px\">\n\n<a href=\"#\" style=\"\nbackground:#1f6feb;\ncolor:white;\npadding:12px 24px;\nborder-radius:6px;\ntext-decoration:none;\nfont-weight:bold;\ndisplay:inline-block\n\">\n💳 ชำระเงินตอนนี้\n</a>\n\n</div>\n\n<div style=\"\nmargin-top:25px;\nbackground:#f7f9fc;\npadding:12px;\nborder-radius:6px;\nfont-size:13px;\ncolor:#666\n\">\n\n📌 หมายเหตุ\n\nกรุณาชำระภายในวันกำหนด  \nหากเลยกำหนดอาจมีค่าปรับ\n\n</div>\n\n<hr style=\"margin:25px 0\">\n\n<div style=\"text-align:center;font-size:12px;color:#999\">\n\nProperty Automation System  \nPowered by AI Workflow\n\n</div>\n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "21c291a8-2f3b-4881-8367-6e431cef7130",
      "name": "Send Rent Reminder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3056,
        2992
      ],
      "webhookId": "d56a6695-b320-4bf3-b359-1bb3a215bf20",
      "credentials": {
        "gmailOAuth2": {
          "id": "gfdhPURbXZFIvuCg",
          "name": "Gmail_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1496232447,
          "mode": "list",
          "cachedResultName": "บันทึกการแจ้งเตือน (ReminderLog)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=1496232447"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ห้อง": "={{ $('Generate Reminder Message').item.json['ห้อง'] }}",
            "ระดับความเสี่ยง": "={{$node[\"Calculate Risk Metrics\"].json[\"riskLevel\"]}}",
            "ผู้เช่า": "={{ $('Generate Reminder Message').item.json['ชื่อผู้เช่า'] }}",
            "จำนวนวันที่ค้าง": "={{ $('Generate Reminder Message').item.json.daysOverdue }}",
            "วันที่แจ้ง": "={{ new Date().toLocaleDateString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "วันที่แจ้ง",
              "displayName": "วันที่แจ้ง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ห้อง",
              "displayName": "ห้อง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้เช่า",
              "displayName": "ผู้เช่า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวนวันที่ค้าง",
              "displayName": "จำนวนวันที่ค้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ระดับความเสี่ยง",
              "displayName": "ระดับความเสี่ยง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "17c431f1-97c3-4c5b-8379-aeaa62094a54",
      "name": "Log to ReminderLog Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3056,
        2512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1496232447,
          "mode": "list",
          "cachedResultName": "บันทึกการแจ้งเตือน (ReminderLog)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=1496232447"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ห้อง": "={{$json[\"ห้อง\"]}}",
            "ระดับความเสี่ยง": "={{ $json['ระดับความเสี่ยง'] }}",
            "วันที่แจ้ง": "={{ $json['วันที่แจ้ง'] }}",
            "ผู้เช่า": "={{ $json['ผู้เช่า'] }}",
            "จำนวนวันที่ค้าง": "={{ $json['จำนวนวันที่ค้าง'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "วันที่แจ้ง",
              "displayName": "วันที่แจ้ง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ห้อง",
              "displayName": "ห้อง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้เช่า",
              "displayName": "ผู้เช่า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวนวันที่ค้าง",
              "displayName": "จำนวนวันที่ค้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ระดับความเสี่ยง",
              "displayName": "ระดับความเสี่ยง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "987c3465-3c22-4247-b1de-41c9c4a43208",
      "name": "Log to RiskTracking Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3280,
        2512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  const room = item.json[\"ห้อง\"];\n  const tenant = item.json[\"ชื่อผู้เช่า\"];\n  const endDate = item.json[\"วันหมดสัญญา\"];\n  const daysLeft = item.json.contractDaysRemaining;\n\n  const renewalMessage =\n`📄 แจ้งเตือนการต่อสัญญาเช่า\n\nห้อง: ${room}\nผู้เช่า: ${tenant}\n\nสัญญาเช่าจะหมดวันที่ ${endDate}\nเหลือเวลาอีก ${daysLeft} วัน\n\nกรุณาติดต่อเพื่อดำเนินการต่อสัญญา\nขอบคุณครับ`;\n\n  return {\n    json: {\n      ...item.json,\n      renewalMessage\n    }\n  };\n});"
      },
      "id": "73b4055c-1676-4bd1-abf7-b48694bcd8ad",
      "name": "Generate Renewal Notice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        2160
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['อีเมล'] }}",
        "subject": "=สัญญาเช่าห้อง {{ $json['ห้อง'] }}",
        "message": "=<div style=\"max-width:560px;margin:auto;font-family:'Segoe UI',Arial;background:#ffffff;border:1px solid #e5e5e5;border-radius:12px;padding:28px\">\n\n<!-- HEADER -->\n<div style=\"text-align:center;margin-bottom:20px\">\n<img src=\"https://cdn-icons-png.flaticon.com/512/235/235861.png\" width=\"60\">\n<h2 style=\"margin:10px 0;color:#1f6feb\">Smart Rental System</h2>\n<p style=\"color:#777;font-size:13px\">\nระบบแจ้งเตือนสัญญาเช่าอัตโนมัติ\n</p>\n</div>\n\n<hr>\n\n<h3 style=\"color:#333\">📄 แจ้งเตือนการต่อสัญญาเช่า</h3>\n\n<p>\nเรียน คุณ <b>{{$json[\"ชื่อผู้เช่า\"]}}</b>\n</p>\n\n<p>\nระบบแจ้งเตือนว่าสัญญาเช่าห้องของคุณกำลังจะหมดอายุ\n</p>\n\n<hr>\n\n<table style=\"width:100%;font-size:14px\">\n\n<tr>\n<td><b>ห้อง</b></td>\n<td>{{$json[\"ห้อง\"]}}</td>\n</tr>\n\n<tr>\n<td><b>วันเริ่มสัญญา</b></td>\n<td>{{$json[\"วันเริ่มสัญญา\"]}}</td>\n</tr>\n\n<tr>\n<td><b>วันหมดสัญญา</b></td>\n<td style=\"color:#e63946;font-weight:bold\">\n{{$json[\"วันหมดสัญญา\"]}}\n</td>\n</tr>\n\n</table>\n\n<hr style=\"margin:20px 0\">\n\n<div style=\"\nbackground:#f7f9fc;\npadding:15px;\nborder-radius:8px;\nfont-size:14px\n\">\n\n📌 กรุณาแจ้งความประสงค์ในการต่อสัญญา  \nก่อนวันหมดสัญญาเพื่อป้องกันการยกเลิกห้อง\n\n</div>\n\n<div style=\"text-align:center;margin-top:25px\">\n\n<a href=\"#\" style=\"\nbackground:#1f6feb;\ncolor:white;\npadding:12px 24px;\nborder-radius:6px;\ntext-decoration:none;\nfont-weight:bold;\ndisplay:inline-block\n\">\n📞 ติดต่อเพื่อต่อสัญญา\n</a>\n\n</div>\n\n<hr style=\"margin:25px 0\">\n\n<div style=\"font-size:12px;color:#999;text-align:center\">\n\nหากท่านไม่ต้องการต่อสัญญา  \nกรุณาแจ้งเจ้าหน้าที่ล่วงหน้า\n\n<br><br>\n\nProperty Automation System\n\n</div>\n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "3f8b08fe-390b-4e92-8090-ba8125e870a9",
      "name": "Send Renewal Email to Tenant",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3040,
        1776
      ],
      "webhookId": "2b073232-a81c-4471-82e4-6461b122ce0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "gfdhPURbXZFIvuCg",
          "name": "Gmail_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277352325,
          "mode": "list",
          "cachedResultName": "บันทึกการต่อสัญญา (ContractRenewalLog)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=277352325"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ห้อง": "={{$node[\"Generate Renewal Notice\"].json[\"ห้อง\"]}}",
            "ผู้เช่า": "={{ $json['ชื่อผู้เช่า'] }}",
            "วันหมดสัญญา": "={{ $json['วันหมดสัญญา'] }}",
            "สถานะ": "={{ $json['สถานะการชำระ'] }}",
            "ช่องทางแจ้ง": "={{ $json['อีเมล'] }}",
            "วันที่แจ้งเตือน": "={{ $('Schedule Trigger').item.json['Readable date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "วันที่แจ้งเตือน",
              "displayName": "วันที่แจ้งเตือน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ห้อง",
              "displayName": "ห้อง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้เช่า",
              "displayName": "ผู้เช่า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "วันหมดสัญญา",
              "displayName": "วันหมดสัญญา",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ช่องทางแจ้ง",
              "displayName": "ช่องทางแจ้ง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f6f358af-c7e5-4456-b8cf-59fb644c0262",
      "name": "Log to ContractRenewalLog",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3040,
        2112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 365341435,
          "mode": "list",
          "cachedResultName": "บันทึกการแจ้งซ่อม (MaintenanceLog)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=365341435"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "วันที่แจ้ง": "={{ $json['วันที่แจ้ง'] }}",
            "ห้อง": "={{ $json['ห้อง'] }}",
            "ผู้แจ้ง": "={{ $('Classify Maintenance Issue').item.json.name }}",
            "ปัญหา": "={{ $('Classify Maintenance Issue').item.json.issue }}",
            "ประเภทปัญหา": "={{ $('Classify Maintenance Issue').item.json.category }}",
            "ความเร่งด่วน": "={{ $('Classify Maintenance Issue').item.json.priority }}",
            "สถานะ": "={{\"รอดำเนินการ\"}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "วันที่แจ้ง",
              "displayName": "วันที่แจ้ง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ห้อง",
              "displayName": "ห้อง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ผู้แจ้ง",
              "displayName": "ผู้แจ้ง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ปัญหา",
              "displayName": "ปัญหา",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประเภทปัญหา",
              "displayName": "ประเภทปัญหา",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ความเร่งด่วน",
              "displayName": "ความเร่งด่วน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สถานะ",
              "displayName": "สถานะ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8310b2a4-30e5-4394-a56a-f0833ba0eb11",
      "name": "Save to MaintenanceLog",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        3952
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "66010916051@msu.ac.th",
        "subject": "=แจ้งซ่อมใหม่ห้อง {{ $json['ห้อง'] }}",
        "message": "=<div style=\"max-width:520px;margin:auto;font-family:Segoe UI,Arial;background:#ffffff;border:1px solid #e6e6e6;border-radius:10px;padding:24px\">\n\n<div style=\"text-align:center;margin-bottom:15px\">\n<h2 style=\"color:#1f6feb;margin:0\">🔧 ระบบแจ้งซ่อมอัตโนมัติ</h2>\n<p style=\"color:#777;font-size:13px\">Maintenance Notification System</p>\n</div>\n\n<hr>\n\n<h3 style=\"color:#333\">📢 มีการแจ้งซ่อมใหม่</h3>\n\n<table style=\"width:100%;font-size:15px;margin-top:10px\">\n\n<tr>\n<td style=\"padding:6px\"><b>🏠 ห้อง</b></td>\n<td>{{$json[\"ห้อง\"]}}</td>\n</tr>\n\n<tr>\n<td style=\"padding:6px\"><b>👤 ผู้แจ้ง</b></td>\n<td>{{ $json['ผู้แจ้ง'] }}</td>\n</tr>\n\n<tr>\n<td style=\"padding:6px\"><b>⚠️ ปัญหา</b></td>\n<td style=\"color:#e63946\">{{$json[\"ปัญหา\"]}}</td>\n</tr>\n\n<tr>\n<td style=\"padding:6px\"><b>🔧 ประเภทปัญหา</b></td>\n<td>{{ $json['ประเภทปัญหา'] }}</td>\n</tr>\n\n<tr>\n<td style=\"padding:6px\"><b>🚨 ระดับความเร่งด่วน</b></td>\n<td style=\"font-weight:bold\">{{ $json['ความเร่งด่วน'] }}</td>\n</tr>\n\n</table>\n\n<hr style=\"margin:20px 0\">\n\n<div style=\"\nbackground:#f7f9fc;\npadding:12px;\nborder-radius:6px;\nfont-size:13px;\ncolor:#555\n\">\n\nกรุณาดำเนินการตรวจสอบและซ่อมแซมโดยเร็ว\n\n</div>\n\n<div style=\"text-align:center;margin-top:20px\">\n\n<a href=\"#\" style=\"\nbackground:#1f6feb;\ncolor:white;\npadding:10px 20px;\nborder-radius:6px;\ntext-decoration:none;\nfont-weight:bold\n\">\nเปิดรายการแจ้งซ่อม\n</a>\n\n</div>\n\n<p style=\"text-align:center;font-size:12px;color:#999;margin-top:20px\">\nProperty Automation System\n</p>\n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b78e495f-aef5-4049-8101-de59d7672433",
      "name": "Notify Owner about Maintenance",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2320,
        3808
      ],
      "webhookId": "d91854aa-1bba-4ad1-99c9-38bd1be2f3bb",
      "credentials": {
        "gmailOAuth2": {
          "id": "gfdhPURbXZFIvuCg",
          "name": "Gmail_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 365341435,
          "mode": "list",
          "cachedResultName": "บันทึกการแจ้งซ่อม (MaintenanceLog)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=365341435"
        },
        "options": {}
      },
      "id": "b17732f0-2878-4b24-a857-92bb6d3a16b8",
      "name": "Read MaintenanceLog for Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        1280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nif (!rows || rows.length === 0) {\n  return [{\n    json: {\n      totalIssues: 0,\n      topCategory: \"-\",\n      topCategoryCount: 0,\n      topRoom: \"-\",\n      topRoomCount: 0\n    }\n  }];\n}\n\nlet categoryCount = {};\nlet roomCount = {};\n\nfor (const item of rows) {\n\n  const category = item.json[\"ประเภทปัญหา\"];\n  const room = item.json[\"ห้อง\"];\n\n  if (category) {\n    categoryCount[category] = (categoryCount[category] || 0) + 1;\n  }\n\n  if (room) {\n    roomCount[room] = (roomCount[room] || 0) + 1;\n  }\n\n}\n\nfunction findTop(data){\n\n  let max = 0;\n  let key = \"-\";\n\n  for (const k in data) {\n    if (data[k] > max) {\n      max = data[k];\n      key = k;\n    }\n  }\n\n  return { key, max };\n}\n\nconst topCategory = findTop(categoryCount);\nconst topRoom = findTop(roomCount);\n\nreturn [{\n  json:{\n    totalIssues: rows.length,\n    topCategory: topCategory.key,\n    topCategoryCount: topCategory.max,\n    topRoom: topRoom.key,\n    topRoomCount: topRoom.max\n  }\n}];"
      },
      "id": "08b5fbb0-0904-4807-bbd1-596ffee0651a",
      "name": "Generate Executive Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1264
      ]
    },
    {
      "parameters": {
        "sendTo": "66010916051@msu.ac.th",
        "subject": "=รายงานประจำเดือน - {{ $now.format('MMMM yyyy') }}",
        "message": "={{\n`\n<div style=\"max-width:540px;margin:auto;font-family:Segoe UI,Arial;background:#ffffff;border:1px solid #e5e5e5;border-radius:10px;padding:25px\">\n\n<div style=\"text-align:center\">\n<h2 style=\"color:#1f6feb;margin-bottom:5px\">📊 รายงานการซ่อมบำรุง</h2>\n<p style=\"color:#777;font-size:13px\">Monthly Maintenance Report</p>\n</div>\n\n<hr>\n\n<h3>สรุปรายงานเดือน ${new Date().toLocaleString('en-US',{month:'long',year:'numeric'})}</h3>\n\n<div style=\"background:#f7f9fc;padding:15px;border-radius:8px;margin-top:10px\">\n\n<p>\n📌 <b>จำนวนรายการแจ้งซ่อมทั้งหมด</b><br>\n\n<span style=\"font-size:24px;color:#1f6feb;font-weight:bold\">\n${$('Generate Executive Summary').first().json.totalIssues}\n</span>\n\n</p>\n\n</div>\n\n<hr>\n\n<h3>🔧 ประเภทปัญหาที่พบมาก</h3>\n\n<ul>\n<li>\n${$('Generate Executive Summary').first().json.topCategory} :\n${$('Generate Executive Summary').first().json.topCategoryCount} ครั้ง\n</li>\n</ul>\n\n<hr>\n\n<h3>🏠 ห้องที่มีการแจ้งซ่อมมากที่สุด</h3>\n\n<ul>\n<li>\nห้อง ${$('Generate Executive Summary').first().json.topRoom} :\n${$('Generate Executive Summary').first().json.topRoomCount} ครั้ง\n</li>\n</ul>\n\n<hr>\n\n<p style=\"text-align:center;font-size:12px;color:#888\">\nรายงานนี้สร้างโดยระบบอัตโนมัติ\n</p>\n\n</div>\n`\n}}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7e801987-381f-4a6e-b7c2-ebe04b6f3974",
      "name": "Send Monthly Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2624,
        1264
      ],
      "webhookId": "20a02df3-4dd5-4450-8b37-315aafd8859b",
      "credentials": {
        "gmailOAuth2": {
          "id": "gfdhPURbXZFIvuCg",
          "name": "Gmail_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1456742905,
          "mode": "list",
          "cachedResultName": "ข้อมูลแดชบอร์ด (DashboardData)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=1456742905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "วันที่": "={{ $now.format(\"yyyy-MM-dd\") }}",
            "เดือน": "={{ $now.format(\"MMMM\") }}",
            "ปี": "={{ $now.format(\"yyyy\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "วันที่",
              "displayName": "วันที่",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เดือน",
              "displayName": "เดือน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ปี",
              "displayName": "ปี",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวนแจ้งซ่อม",
              "displayName": "จำนวนแจ้งซ่อม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ปัญหาที่พบบ่อย",
              "displayName": "ปัญหาที่พบบ่อย",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ห้องที่แจ้งมากสุด",
              "displayName": "ห้องที่แจ้งมากสุด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ผู้เช่าทั้งหมด",
              "displayName": "ผู้เช่าทั้งหมด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ห้องว่าง",
              "displayName": "ห้องว่าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "รายได้รวม",
              "displayName": "รายได้รวม",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ค่าเช่าค้าง",
              "displayName": "ค่าเช่าค้าง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3fbe75bd-5fa0-4e37-9606-2ec83ffdd667",
      "name": "Export to DashboardData Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        3360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {},
      "id": "1860ef4b-147f-4373-903d-4d28ce4fa815",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        1888
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ead7cb56-5818-42f9-b94c-c2276beb0a82",
              "name": "เวลา",
              "value": "={{ $now.toLocaleString('th-TH') }}",
              "type": "string"
            },
            {
              "id": "2811155b-d28d-4037-aacb-16bac1b3c55d",
              "name": "Workflow",
              "value": "={{ \"ระบบ: \" + $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "9445d55d-5b16-48b4-9ca4-77d11df755d5",
              "name": "Node",
              "value": "={{ \"โหนดที่เกิดข้อผิดพลาด: \" + $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "fb34630c-d6ef-4d8a-a943-0c06e2eba2da",
              "name": "=ข้อความผิดพลาด",
              "value": "={{ \"ข้อผิดพลาด: \" +$json.execution.error.message  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bdb6d78d-3d2f-4254-aec1-4df11331a634",
      "name": "Prepare Error Log Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1171034539,
          "mode": "list",
          "cachedResultName": "บันทึกข้อผิดพลาด (ErrorLog)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=1171034539"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "วันที่เกิดเหตุ": "={{$json[\"เวลา\"]}}",
            "Workflow": "={{ $json.Workflow }}",
            "รายละเอียดข้อผิดพลาด": "={{ $json['ข้อความผิดพลาด'] }}",
            "ชื่อ Node": "={{ $json.Node }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "วันที่เกิดเหตุ",
              "displayName": "วันที่เกิดเหตุ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อ Node",
              "displayName": "ชื่อ Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "รายละเอียดข้อผิดพลาด",
              "displayName": "รายละเอียดข้อผิดพลาด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5baad1ab-567e-4516-9c02-6d9763d9b583",
      "name": "Save to ErrorLog Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        1440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c147dba-8f22-409e-868f-69cc20209dd5",
              "leftValue": "={{$json[\"สถานะการชำระ\"] || \"\"}}",
              "rightValue": "ยังไม่",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1808,
        2752
      ],
      "id": "95e78371-8963-4877-b7ec-66679e151a8e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "U8e5578750ac8910c16b1d99340d3d608",
        "messages": {
          "values": [
            {
              "text": "={{$node[\"Generate Reminder Message\"].json[\"reminderMessage\"]}}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        3056,
        2768
      ],
      "id": "ffa9f67c-f189-487f-a0ba-9b93065fcf6d",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "dkET4rbUBVGCxcNd",
          "name": "Line Messaging account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "to": "U8e5578750ac8910c16b1d99340d3d608",
        "messages": {
          "values": [
            {
              "text": "={{ $('Generate Renewal Notice').item.json.renewalMessage }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        3040,
        1952
      ],
      "id": "7476ec64-b91a-40e4-af3d-589d0e82a543",
      "name": "Line Messaging1",
      "alwaysOutputData": true,
      "credentials": {
        "lineMessagingApi": {
          "id": "dkET4rbUBVGCxcNd",
          "name": "Line Messaging account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{$json.contractDaysRemaining}}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "2038b450-829a-4ad6-8122-795fdea91474",
      "name": "Check Contract Expiration",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        2192
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "U8e5578750ac8910c16b1d99340d3d608",
        "messages": {
          "values": [
            {
              "text": "=🚨 แจ้งซ่อมหอพัก\n\nห้อง: {{ $json['ห้อง'] }}\nผู้แจ้ง: {{ $json['ผู้แจ้ง'] }}\nเบอร์: {{ $('Classify Maintenance Issue').item.json.phone }}\n\nประเภทปัญหา: {{$json[\"ประเภทปัญหา\"]}}\nรายละเอียด: {{ $json['ปัญหา'] }}\n\nระดับความเร่งด่วน: {{ $json['ความเร่งด่วน'] }}\n\nเวลาแจ้ง: {{ $json['วันที่แจ้ง'] }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        2336,
        4112
      ],
      "id": "e103e0c0-afa0-4c90-b0bc-0a9253fd59f3",
      "name": "Line Messaging2",
      "credentials": {
        "lineMessagingApi": {
          "id": "dkET4rbUBVGCxcNd",
          "name": "Line Messaging account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c147dba-8f22-409e-868f-69cc20209dd5",
              "leftValue": "={{ $json['Day of month'] }}",
              "rightValue": "=10",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1296,
        1296
      ],
      "id": "a3e7118c-6202-451d-899b-4ea926f095c9",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "ห้อง",
        "options": {}
      },
      "id": "efb1b014-0ee5-4867-9a51-424bd7fe965a",
      "name": "Merge Report Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1872,
        1264
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items.map(item => item.json);\n\nconst จำนวนผู้เช่าทั้งหมด = data.length;\n\nlet รายได้รวม = 0;\n\ndata.forEach(d => {\n  รายได้รวม += Number(d[\"ค่าเช่ารายเดือน\"]) || 0;\n});\n\nconst จำนวนห้องทั้งหมด = new Set(data.map(d => d[\"ห้อง\"])).size;\n\nreturn [\n{\njson:{\nจำนวนผู้เช่าทั้งหมด,\nรายได้รวม,\nจำนวนห้องทั้งหมด\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        3360
      ],
      "id": "ddf93aa5-d5d7-45a7-a9ce-c0759e3c00ee",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "U8e5578750ac8910c16b1d99340d3d608",
        "messages": {
          "values": [
            {
              "text": "=🚨 แจ้งเตือนข้อผิดพลาดระบบ\n\n📅 เวลา: {{$json[\"วันที่เกิดเหตุ\"]}}\n\n⚙️ Workflow:\n{{$json[\"Workflow\"]}}\n\n🔧 Node:\n{{$json[\"ชื่อ Node\"]}}\n\n❌ รายละเอียด:\n{{$json[\"รายละเอียดข้อผิดพลาด\"]}}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        -16,
        1664
      ],
      "id": "ef9c6119-8c7e-45b0-9209-b6ff6b103ce7",
      "name": "Line Messaging3",
      "credentials": {
        "lineMessagingApi": {
          "id": "dkET4rbUBVGCxcNd",
          "name": "Line Messaging account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 1056,
        "width": 1200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        1104
      ],
      "typeVersion": 1,
      "id": "a3b3ec08-15ed-41e3-83db-f63d1c5aa142",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 592,
        "width": 2336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1104
      ],
      "typeVersion": 1,
      "id": "e0521145-6442-48f1-a169-1725dd177eed",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 2528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        2448
      ],
      "typeVersion": 1,
      "id": "609f1236-cd5f-4081-aabb-64f8de196e9e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 368,
        "width": 1808,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        3264
      ],
      "typeVersion": 1,
      "id": "40725f13-740d-4b4b-8840-dcb5fa85d23c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 2320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1744
      ],
      "typeVersion": 1,
      "id": "4b0152c1-9300-4078-b82a-5b7bf933c8cf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        3360
      ],
      "id": "7daa6290-bb58-44c6-8cc5-37ba4ebfd156",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 10,
              "triggerAtHour": 15,
              "triggerAtMinute": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        2592
      ],
      "id": "9ad0a5a8-b093-479c-a86b-8cc297857119",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        2480
      ],
      "id": "fc26afbf-33f3-4924-9348-4b15b87ef3fd",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        2304
      ],
      "id": "a7c4909d-1d83-4ec4-a5d6-196989118be8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88f48b4f-4381-40ca-82d9-7226a7ee8324",
              "name": "ห้อง",
              "value": "={{ $('Read TenantData Sheet').item.json['ห้อง'] }}",
              "type": "string"
            },
            {
              "id": "97839a46-fe15-49ba-aac1-974cd73e2790",
              "name": "ประเภทปัญหา",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "10db7917-71d7-42a2-812e-58a51e0e9263",
              "name": "วันที่แจ้ง",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        3952
      ],
      "id": "19a2ba82-37c8-4b92-a6f6-9abb17917d4b",
      "name": "Maintenance Issue"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    date: $json['ประทับเวลา'],\n    room:  $json['หมายเลขห้อง ']|| \"\",\n    name:  $json['ชื่อผู้แจ้ง ']|| \"\",\n    phone:  $json['เบอร์ติดต่อ ']|| \"\",\n    issue:  $json['รายละเอียดปัญหา ']|| \"\",\n    category:  $json['ประเภทปัญหา']|| \"\",\n    priority:  $json['ระดับความเร่งด่วน ']|| \"\"\n  }\n};"
      },
      "id": "f00dff98-fa2e-434c-a8e6-62036d4f74b9",
      "name": "Classify Maintenance Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        3952
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g",
          "mode": "list",
          "cachedResultName": "ProjectAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 973862490,
          "mode": "list",
          "cachedResultName": "FormResponses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NBd-vXGhm0zBSEJSL-aRNppRJNhjdc3mGkrfqt4Q2g/edit#gid=973862490"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        3936
      ],
      "id": "54bab81c-4b11-476e-a44c-9d85a99852ce",
      "name": "Read Form Sheet",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0UAY1bSjjyClZ1TZ",
          "name": "Google_Sheets_ProjectAI"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 720,
        "width": 1808,
        "color": "#D6F9FF"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        3696
      ],
      "typeVersion": 1,
      "id": "8175cf29-a182-4474-ad4c-67f585bdde93",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 640,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        2208
      ],
      "typeVersion": 1,
      "id": "c03f60c4-77f1-43d5-983f-3ab8227d8108",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Read TenantData Sheet": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Risk Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Form Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Risk Metrics": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Contract Expiration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reminder Message": {
      "main": [
        [
          {
            "node": "Send Rent Reminder Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to ReminderLog Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rent Reminder Email": {
      "main": [
        []
      ]
    },
    "Log to ReminderLog Sheet": {
      "main": [
        [
          {
            "node": "Log to RiskTracking Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Renewal Notice": {
      "main": [
        [
          {
            "node": "Send Renewal Email to Tenant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Line Messaging1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to ContractRenewalLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Renewal Email to Tenant": {
      "main": [
        []
      ]
    },
    "Save to MaintenanceLog": {
      "main": [
        [
          {
            "node": "Line Messaging2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Owner about Maintenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read MaintenanceLog for Report": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Executive Summary": {
      "main": [
        [
          {
            "node": "Send Monthly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Prepare Error Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Log Data": {
      "main": [
        [
          {
            "node": "Save to ErrorLog Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to ErrorLog Sheet": {
      "main": [
        [
          {
            "node": "Line Messaging3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Reminder Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Line Messaging": {
      "main": [
        []
      ]
    },
    "Line Messaging1": {
      "main": [
        []
      ]
    },
    "Check Contract Expiration": {
      "main": [
        [
          {
            "node": "Generate Renewal Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging2": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Read MaintenanceLog for Report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge Report Data": {
      "main": [
        [
          {
            "node": "Generate Executive Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Export to DashboardData Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read TenantData Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to RiskTracking Sheet": {
      "main": [
        []
      ]
    },
    "Maintenance Issue": {
      "main": [
        [
          {
            "node": "Save to MaintenanceLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Maintenance Issue": {
      "main": [
        [
          {
            "node": "Maintenance Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Form Sheet": {
      "main": [
        [
          {
            "node": "Classify Maintenance Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "264b5a83-1670-46af-bc5c-6712634f1c7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cbc213025bde98461f816ba5990b4825917e60e7c5eae0ceb958e66ebde3e24b"
  },
  "id": "OdNIob7LyourVsqp",
  "tags": []
}